@import "./wipe-transition.css";
@import "./angled-transition.css";
@import "./vertical-transition.css";
@import "./slides-transition.css";
@import "./flip-transition.css";

[data-style]::view-transition {
  pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
  [data-style]::view-transition-old(*),
  [data-style]::view-transition-new(*),
  [data-style]::view-transition-group(*) {
    animation-duration: 0s !important;
    animation-delay: 0s !important;
  }
}
